body {
  font-family: 'Roboto', sans-serif;
  padding-top: 5.625rem;
}

main{
  padding-left: 12.5rem;
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.bx--detail-page-header--no-tabs{
  top: 5.625rem;
}

.messages-index{
  margin-top: 5.625rem;
}

@import 'modules.scss';
@import 'components.scss';
