/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'carbon-components/scss/globals/scss/styles.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $ui-01;
}

main{
  padding-left: 12.5rem;
}

.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@import 'modules/index.scss';
