li.left-nav-list__item data-interior-left-nav-item="" role="menuitem" tabindex="0" 
  = link_to conversation.partner_name(current_user), conversation_messages_path(conversation), class: 'left-nav-list__item-link'